*{
    margin:0px;
    box-sizing: border-box;
}



body{
   height: 100vh;
   border: solid 3px rgb(255, 1, 13);

}

.head{
   display:flex;
   justify-content: center;
   align-items: center;
   height:65% ;
   border: solid 2px black;
}

.thumbnail{
    
    height:130px;
    width:130px;
    border: solid 5px black;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;

}


#image{
     width:100%;
     height:100%;
     border-radius: 15px;;
}


.loading-bar{
    height:10%;
    border:solid 2px rgb(32, 18, 64);
}

.buttons{
   display:flex;
   justify-content: center;
   align-items: center;
   gap:15px;
   height:25% ;
   border: solid 2px rgb(252, 208, 10);
}

.btn{
     border:none;
}

