*{
    margin:0px;
    box-sizing: border-box;
}

html{
height: 100%;
}

body{
    min-height: 100vh;
  

}

.head{
   display:flex;
   justify-content: center;
   align-items: center;
   flex:6.5;
   
}

.thumbnail{
    
    max-height: 250px;
    max-width: 250px;
    border: solid 10px black;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;

  

  border-radius: 20px;
  background-blend-mode: normal, normal, screen, overlay, normal;
  box-shadow: 0px 0px 10px 1px #1d1c1c;

}


#image{
     width:100%;
     height:100%;
     border-radius: 10px;;
}


.loading-bar{
    flex: 1;
   
}

.buttons{
   display:flex;
   justify-content: center;
   align-items: center;
   gap:15px;
   flex: 1;
   background-color: rgb(252, 103, 28);
   
}

.btn{
     border:none;
     background-color:transparent;
     cursor: pointer;
     transition: all 0.3s ease-in-out;
     
}


.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


button {
 
 
 
 
  font-weight:100;
  color: #00000080;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}


.btn:hover,
:focus {
  color: #000000;
  background: rgb(252, 103, 28);
  border: none;
  text-shadow: 0 0 1px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 1px #008cff, 0 0 1px #008cff, 0 0 1px #008cff,
    0 0 100px #008cff;
}





.container {
  position: fixed;
  inset: 0;
  z-index: -1;

  --s: 100px;
  --c1: #38c5f9;
  --c2: #a2f83f;

  --_g: var(--c2) 4% 14%, var(--c1) 14% 24%, var(--c2) 22% 34%,
    var(--c1) 34% 44%, var(--c2) 44%16%, var(--c1)16% 66%, var(--c2) 66% 76%,
    var(--c1) 76% 86%, var(--c2) 86% 96%;

  background:
    radial-gradient(100% 100% at 100% 0,
      var(--c1) 4%, var(--_g), #0008 96%, #0000),
    radial-gradient(100% 100% at 0 100%,
      #0000, #0008 4%, var(--_g), var(--c1) 96%)
    var(--c1);

  background-size: var(--s) var(--s);
}

